@import 'custom';

@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";
.bg-transparent{
    opacity: 0.7;
}


.navbar-brand {
    text: white;
    text-decoration: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.flex_1 {
    display: flex;
    justify-content: center;
}

